pkgbase = mingw-w64-libxml2
	pkgdesc = XML parsing library, version 2 (mingw-w64)
	pkgver = 2.13.1
	pkgrel = 1
	url = http://www.xmlsoft.org/
	arch = any
	license = LGPL
	makedepends = mingw-w64-configure
	depends = mingw-w64-crt
	depends = mingw-w64-libiconv
	depends = mingw-w64-zlib
	depends = mingw-w64-xz
	options = !buildflags
	options = !strip
	options = staticlibs
	source = https://download.gnome.org/sources/libxml2/2.13/libxml2-2.13.1.tar.xz
	sha256sums = 25239263dc37f5f55a5393eff27b35f0b7d9ea4b2a7653310598ea8299e3b741

pkgname = mingw-w64-libxml2
